//VARIABLES

//--Dimension
$toggleHeight: 20px;
$toggleWidth: 40px;
$borderWidth: 3px;
$toggleBtnRadius: $toggleHeight - 10px;

//--Colors ON

$bgColor--night: #fae6e6;
$borderColor--night: #4c241d;
$toggleBtn-bgColor--night: #fff;
$toggleBtn-borderColor--night: #4c241d;

//--Colors OFF
$bgColor--day: #b5a19c;
$borderColor--day: #4c241d;
$toggleBtn-bgColor--day: #fff;
$toggleBtn-borderColor--day: #4c241d;


//All
.toggle {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    margin-top: 4vh;
    user-select: none;

    p{
      margin-right: 1.8vw;
    }
}
    .toggle--checkbox {
    display: none;
    }
    .toggle--btn {
        display: block;
        margin: 0 auto;

        font-size: 1.4em;

        transition: all 350ms ease-in;

        &:hover {
            cursor: pointer;
        }
    }

    .toggle--btn,
    .toggle--checkbox, {
        &,
        &:before,
        &:after {
            transition: all 250ms ease-in;
        }
        &:before,
        &:after {
            content: '';
            display: block;
        }
    }

//Like



.toggle--daynight,
.toggle--like {
    .toggle--btn {
        position: relative;
        height: $toggleHeight;
        width: $toggleWidth;
        border-radius: $toggleHeight;

        //toggle button
        &:before {
            position: absolute;
            top: 2px;
            left: 4px;
            width: $toggleBtnRadius;
            height: $toggleBtnRadius;
            border-radius: 50%;
        }
    }
}

.toggle--daynight {
    .toggle--btn {
        border: $borderWidth solid $borderColor--night;
        background-color: $bgColor--night;

        //toggle button
        &:before {
            background-color: $toggleBtn-bgColor--night;
            border: $borderWidth solid $toggleBtn-borderColor--night;
        }
  }


    //what happens once checkbox is checked
    .toggle--checkbox:checked {
         & + .toggle--btn {
            background-color: $bgColor--day;
            border: $borderWidth solid $borderColor--day;

            &:before {
                left: $toggleWidth - ($toggleBtnRadius) - ($borderWidth * 2) - 4px;
                background-color: $toggleBtn-bgColor--day;
                border: $borderWidth solid $toggleBtn-borderColor--day;
            }
            &:after {
                opacity: 100;
                animation-name: bounceIn;
                animation-duration: 0.60s;
                animation-delay: 0.10s;
                animation-fill-mode: backwards;
                animation-timing-function: ease-in-out;
            }


        }
    }
}
