//VARIABLES

//--Dimension
$toggleHeight: 20px;
$toggleWidth: 40px;
$borderWidth: 3px;
$toggleBtnRadius: $toggleHeight - 10px;

//--Colors ON

$bgColor--night: #fae6e6;
$borderColor--night: #4c241d;
$toggleBtn-bgColor--night: #fff;
$toggleBtn-borderColor--night: #4c241d;

//--Colors OFF
$bgColor--day: #b5a19c;
$borderColor--day: #4c241d;
$toggleBtn-bgColor--day: #fff;
$toggleBtn-borderColor--day: #4c241d;


//All
.toggle {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    margin-top: 4vh;
    user-select: none;

    p{
      margin-right: 1.8vw;
    }
}
    .toggle--checkbox {
    display: none;
    }
    .toggle--btn {
        display: block;
        margin: 0 auto;

        font-size: 1.4em;

        transition: all 350ms ease-in;

        &:hover {
            cursor: pointer;
        }
    }

    .toggle--btn,
    .toggle--checkbox, {
        &,
        &:before,
        &:after {
            transition: all 250ms ease-in;
        }
        &:before,
        &:after {
            content: '';
            display: block;
        }
    }

//Like



.toggle--daynight,
.toggle--like {
    .toggle--btn {
        position: relative;
        height: $toggleHeight;
        width: $toggleWidth;
        border-radius: $toggleHeight;

        //toggle button
        &:before {
            position: absolute;
            top: 2px;
            left: 4px;
            width: $toggleBtnRadius;
            height: $toggleBtnRadius;
            border-radius: 50%;
        }
    }
}

.toggle--daynight {
    .toggle--btn {
        border: $borderWidth solid $borderColor--night;
        background-color: $bgColor--night;

        //toggle button
        &:before {
            background-color: $toggleBtn-bgColor--night;
            border: $borderWidth solid $toggleBtn-borderColor--night;
        }
  }


    //what happens once checkbox is checked
    .toggle--checkbox:checked {
         & + .toggle--btn {
            background-color: $bgColor--day;
            border: $borderWidth solid $borderColor--day;

            &:before {
                left: $toggleWidth - ($toggleBtnRadius) - ($borderWidth * 2) - 4px;
                background-color: $toggleBtn-bgColor--day;
                border: $borderWidth solid $toggleBtn-borderColor--day;
            }
            &:after {
                opacity: 100;
                animation-name: bounceIn;
                animation-duration: 0.60s;
                animation-delay: 0.10s;
                animation-fill-mode: backwards;
                animation-timing-function: ease-in-out;
            }


        }
    }
}


.button-folder{
  background-color: transparent;
  border: none;
}

/*

.container2 .container-inner2{
  background: #EF4D4D;
  padding: 1em;
  border-radius: 10px;
  width: 7vw;
  height: 45vh;
  clip-path: circle(3% at 9% 3.5%);
  transition: all .5s ease-in-out;
}

.container-inner2 input{
  position: absolute;
  margin-top: -1vh;
  margin-left: 1vw;
}

.container2:hover .container-inner2{
  clip-path: circle(75%);
  background: #EF4D4D;
}

*/

.container-directory-optionFolder{
  position: absolute;
  width: 20vw;
  height: 25vh;
  border-radius: 10px;
  margin-left: 2.2vw;
  margin-top: -1.5vh;
  overflow: hidden;
  border-radius: 10px;
}

.container-directory-optionFolder .container-directory-optionInnerFolder{
  background: #EF4D4D;
  padding: 1em;
  border-radius: 10px;
  width: 7vw;
  height: 15vh;
  clip-path: circle(5% at 9% 6%);
  transition: all .5s ease-in-out;
}

.container-directory-optionInnerFolder form{
  margin-top: -1vh;
  margin-left: 1vw;
}

.container-directory-optionInnerFolder:hover{
  clip-path: circle(75%);
  background: #EF4D4D;
  z-index: 999;
}

.container-directory-optionInnerFolder:hover .container-directory-optionInnerFolder span{
  opacity: 0;
}

.container-directory-optionInnerFolder span{
  position: absolute;
  color: white;
  font-size: 1.2vw;
  margin-left: -4.05vw;
  margin-top: -2.15vh;
  opacity: 1;
  transition: 0.5s ease-in-out;
}

/*
#button-navAside{
  border: none;
  background-color: transparent;
  font-size: 1vw;
  color: white;
  line-height: 180%;

}

li{
  list-style: none;
}
*/
