@font-face {
  font-family: "Varta";
  src: url("../fonts/Varta-Regular.eot");
  src: url("../fonts/Varta-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Varta-Regular.woff2") format("woff2"), url("../fonts/Varta-Regular.woff") format("woff"), url("../fonts/Varta-Regular.ttf") format("truetype"), url("../fonts/Varta-Regular.svg#Varta-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: Varta;
}

h5 {
  font-size: 1vw;
}

body {
  background-image: url("../images/background.png");
  background-size: cover;
}

.toggle {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  margin-top: 4vh;
  user-select: none;
}
.toggle p {
  margin-right: 1.8vw;
}

.toggle--checkbox {
  display: none;
}

.toggle--btn {
  display: block;
  margin: 0 auto;
  font-size: 1.4em;
  transition: all 350ms ease-in;
}
.toggle--btn:hover {
  cursor: pointer;
}

.toggle--btn, .toggle--btn:before, .toggle--btn:after,
.toggle--checkbox,
.toggle--checkbox:before,
.toggle--checkbox:after {
  transition: all 250ms ease-in;
}
.toggle--btn:before, .toggle--btn:after,
.toggle--checkbox:before,
.toggle--checkbox:after {
  content: "";
  display: block;
}

.toggle--daynight .toggle--btn,
.toggle--like .toggle--btn {
  position: relative;
  height: 20px;
  width: 40px;
  border-radius: 20px;
}
.toggle--daynight .toggle--btn:before,
.toggle--like .toggle--btn:before {
  position: absolute;
  top: 2px;
  left: 4px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.toggle--daynight .toggle--btn {
  border: 3px solid #4c241d;
  background-color: #fae6e6;
}
.toggle--daynight .toggle--btn:before {
  background-color: #fff;
  border: 3px solid #4c241d;
}
.toggle--daynight .toggle--checkbox:checked + .toggle--btn {
  background-color: #b5a19c;
  border: 3px solid #4c241d;
}
.toggle--daynight .toggle--checkbox:checked + .toggle--btn:before {
  left: 20px;
  background-color: #fff;
  border: 3px solid #4c241d;
}
.toggle--daynight .toggle--checkbox:checked + .toggle--btn:after {
  opacity: 100;
  animation-name: bounceIn;
  animation-duration: 0.6s;
  animation-delay: 0.1s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in-out;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 10vw;
  height: 10vh;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.closet {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closet:hover,
.closet:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.breadCrumbs {
  font-size: 1vw;
  margin-left: 12vw;
  width: 50%;
  padding-top: 2vh;
  border-left: 2px solid grey;
}
.breadCrumbs ul {
  display: flex;
  margin-bottom: 0;
}
.breadCrumbs ul li {
  list-style: inside url("../images/right-arrow.svg");
  margin-right: 2vw;
}

.img_directoryMini {
  width: 0.8vw;
  height: 2.5vh;
  margin-right: 1vw;
}

.nav-aside {
  position: absolute;
  margin-top: -1.8vh;
}
.nav-aside h5 {
  margin-left: 1vw;
}
.nav-aside ul {
  margin-top: -2vh;
}
.nav-aside ul li {
  list-style: none;
  margin-left: 0.5vw;
  display: flex;
  align-items: start;
  margin-top: 1vh;
}

.container-dir {
  margin-left: 12vw;
  text-align: center;
  border-left: 2px solid grey;
  padding-left: 3vw;
  padding-top: 4vh;
  height: 60vh;
}
.container-dir img {
  width: 4vw;
  height: auto;
}
.container-dir p {
  margin-top: 2vh;
  margin-bottom: 6vh;
}

.logo-dir2 {
  margin-left: 2vw;
}

.container-explorer {
  width: 65vw;
  height: 80vh;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background-color: white;
  margin-top: 6vh;
  margin-left: 8vh;
  overflow: hidden;
}

.row {
  display: flex;
}

.close {
  display: flex;
  justify-content: flex-end;
}
.close img {
  width: 1vw;
  height: 2vh;
  padding: 0.8rem;
}

.container-close {
  width: 4vw;
  display: flex;
  justify-content: center;
  transition: 0.2s;
}
.container-close:hover {
  background-color: red;
}

.container-close img:hover {
  filter: invert(100%);
}

.function {
  background-color: #fae6e6;
  display: flex;
  justify-content: space-between;
  height: 17vh;
  align-items: center;
  width: 100%;
  margin-top: 3rem;
}
.function .function-applicate {
  margin-left: 3.5vw;
}
.function .function_firstparts {
  display: flex;
}
.function p {
  margin-left: 2vw;
}

/*# sourceMappingURL=style.css.map */
