.container-navAside{
  float: right;
  width: 15vw;
  height: 100%;
  border-radius: 0 10px 10px 0;
  background-color: darken(#ECA8A8, 8%);
}
















.breadCrumbs {
  font-size: 1vw;
  margin-left: 2vw;
  width: 50%;
  padding-top: 2vh;
  ul{
    display: flex;
    margin-bottom: 0;
    li {
      list-style: inside url('../images/right-arrow.svg');
      margin-right: 2vw;
    }
  }
}


/*--------------------------*/


.nav-aside {
  position: absolute;
  margin-top: 5vh;
  margin-left: 3.2vw;
  h5 {
    margin-left: 1vw;
  }
  ul {
    margin-top: -2vh;
    li {
      list-style: none;
      margin-left: 0.5vw;
      display: flex;
      align-items: start;
      margin-top: 1vh;
    }
  }
}
