.container-dir{
  display: flex;
  margin-left: 12vw;
  margin-top: 6vh;
  img {
    width: 10vw;
    height: auto;
  }
}

.logo-dir2{
  margin-left: 4vw;
}

.container-explorer{
  width: 75vw;
  height: 90vh;
  border: 2px solid grey;
  background-color: white;
  margin-top: 6vh;
  margin-left: 6vh;
}
