.container{
  width: 65vw;
  height: 70vh;
  margin-left: 22vw;
  margin-top: 15vh;
  background-color: white;
  border-radius: 10px 15px 15px 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.container-directory{
  margin: 2.5vw;
  width: 50vw;
  margin-top: 25vh;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  img {
    width: 5vw;
  }
}

.container-directory-trash{
  top:4vw;
  left:5vw;
  position: absolute;
  text-align: center;
  color : white;
  img{
    width: 4vw;
  }
  p{
    margin-top: -0.1vh;
    font-size: 1.1vw;
    text-shadow: 1px 1px 1px black;
  }
}

.container-directory-folder{
  text-align: center;
  margin-bottom: 5vh;
  margin-right: 2.5vw;
  font-size: 1.1vw;
  color : darken(#ECA8A8, 15%);
  p{
    margin-top: -0.8vh;
  }
  a+p{
    margin-top: 0.2vh;
  }
}





.row {
  display: flex;
}

.close {
  display: flex;
  justify-content: flex-end;
  img {
    width: 1vw;
    height: 2vh;
    padding: .8rem;
  }
}

.container-close{
  width: 4vw;
  display: flex;
  justify-content: center;
  transition: 0.2s;
  &:hover{
    background-color: red;
  }
}

.container-close img:hover{
  filter: invert(100%);
}

.function {
  background-color: rgb(250, 230,230);
  display: flex;
  justify-content: space-between;
  height: 17vh;
  align-items: center;
  width: 100%;
  margin-top: 3rem;
  .function-applicate{
    margin-left: 3.5vw;
  }
  .function_firstparts{
    display: flex;
  }
  p {
    margin-left: 2vw;
  }
}
